@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar ul li{
  margin: 7px;
}
.navbar ul li a{
  font-size: 20px;
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
}
.navbar ul li a:hover{
  opacity: .9;
  border-bottom: 1px solid;
}
.navbar-brand{
  font-family: "Anton", sans-serif;
}
ul .dropdown-menu li a{
  font-weight: 700;
  font-size: 15px;
}
ul .dropdown-menu li a:hover{
  transform: translateX(10px);
  background-color: orange;
  color: greenyellow;
}
.icon{
  margin-left: 1%;
}
.icon i{
  font-size: 2rem;
  color: green;
  margin-left: 15px;
  margin-top: 3px;

}
.icon .slo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid orangered;
  
}
.icon .slo:hover{
  background-color: orange;
}

/*  */
.top h1{
  font-size: 2.5rem;
  color: white;
}
.top  p{
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}
.top a{
  text-decoration: none;
  color: greenyellow;
  margin: 5px;
}
.top a:hover{
  opacity: .9;
  
}

/*  */
.quantity-selector button{
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  border: 1px solid greenyellow;
  font-size: 1rem;
  outline: none;
  font-weight: 1000;
}
.quantity-selector button:hover{
  border:1px solid orange;
}
.container table tr th{
  font-size: 25px;
}
.container table tr td p{
  font-size: 20px;
}
.container table tr td #icons{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.25rem;
  color: red;
  border: 2px solid dimgrey;
}
.container input{
  width: 230px;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
}
.container .btns{
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin-left: 15px;
  border: 2px solid orange;
  color: green;
  font-weight: 600;
}
.container .btns:hover{
  background-color: orange;
  color: white;
}

.container .box{
  float: right;
  background-color: whitesmoke;
  margin-top: 10%;
  border-radius: 15px;
}
.container .box h4{
  margin-top: 10px;
}
.container .box p{
  margin-top: 10px;
  font-size: 18px;
}

.container .butn{
  width: 250px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid orange;
  color: green;
  font-weight: 600;
}
.container .butn:hover{
  background-color: orange;
  color: white;
}

/*  */
.card-footer button{
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 600;
  color: green;
  border: 2px solid orange;
}
.mt-5 nav ul li{
  margin: 7px;
  padding: 5px;
}
.mt-5 nav ul li a{
  border: 2px solid orange;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  color: black;
}
.mt-5 nav ul li a:hover{
  background-color: greenyellow;
  color: black;
  border: 2px solid orange;
}


.gp_btn .slo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid orange;
  float: right;
  margin: 5px;
  
}
.gp_btn .slo:hover{
  background-color: orange;
}
.nomally{
  height: 60px;
  width: 550px;
  border: 5px solid orange;
  border-radius: 35px;
  padding: 2px 0px;
   
}
.nomally input{
  border-radius: 35px;
  border: none;
  position: relative;
  background-color:darkslategrey;
  color: green;

}
.nomally button{
  border-radius: 35px;
  border: 4px solid green;
  width: 200px;
  position: absolute;
  color: white;
  background-color: green;
}
.nomally button:hover{
  color: white;
  background-color: orange;
}

.con-info li{
  text-decoration: none;
  margin-top: 3%;
  font-weight: 600;
  color:darkgrey;
}
.con-info li:hover{
  color: orange;
}
.con-info p{
  color: darkgrey;
  font-weight: 600;
}
.con-info button{
  width: 150px;
  height: 50px;
  margin-top: 15px;
  border-radius: 18px;
  border: 2px solid orange;
  color: greenyellow;
  background-color: darkslategrey;
}
.con-info button:hover{
  background-color: orange;
}
.con-info .boxbank{
  height: 5vh;
}
.con-info .boxbank img{
  margin: 2%;
  border-radius: 5px;
}

body .chic{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid orange;
  background-color: green;
  animation-delay: 1.5s;
  float: right;
  position: fixed;
  right: 0%;
  bottom: 100px;
  
}
.chic:hover{
  background-color: orange;
}